$bg-colors: (
    first: #0e6cff, 
    second: #ff8700,
    third: #4caf50,
);

header {
    background-color: darkblue;
}

body, button {
    color:#f4f4f4
}

section {
    background-color: #640fc5;
}

